@import "../../../vars";

.nav {
  position: relative;
  display: flex;
  width: max-content;
  justify-content: center;
  border: 3px solid gold;
  margin: 0 auto;
  background-color: gold;
  border-radius: 10px;
  box-shadow: $shadow-prime;
  color: white;
  text-transform: uppercase;

  &__item {
    position: relative;
    padding: 30px 30px 30px 60px;
    margin-right: 5px;
    background-color: $nav-active-link;
    font-size: $nav-lineHeight;
    line-height: $nav-lineHeight;
    text-decoration: none;
    transition: 0.3s ease;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 0;
      height: 0;
      border-top: ($nav-lineHeight / 2) + 30px solid transparent; // высота строки пополам + паддинг сверху
      border-bottom: ($nav-lineHeight / 2) + 30px solid transparent; // высота строки пополам + паддинг сверху
      border-left: $size2 solid gold;
      content: "";
    }

    &::after {
      position: absolute;
      z-index: 10;
      top: 0;
      right: -$size2;
      display: block;
      width: 0;
      height: 0;
      border-top: ($nav-lineHeight / 2) + 30px solid transparent; // высота строки пополам + паддинг сверху
      border-bottom: ($nav-lineHeight / 2) + 30px solid transparent; // высота строки пополам + паддинг сверху
      border-left: $size2 solid $nav-active-link;
      content: "";
      transition: 0.3s ease;
    }

    &:first-child {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;

      &::before {
        border: none;
        content: "";
      }
    }

    &_active {
      background-color: #568092;

      &::after {
        border-left: $size2 solid #568092;
      }
    }
  }

  &::after {
    position: absolute;
    top: 0;
    right: -$size2;
    display: block;
    width: 0;
    height: 0;
    border-top: ($nav-lineHeight / 2) + 30px solid transparent; // высота строки пополам + паддинг сверху
    border-bottom: ($nav-lineHeight / 2) + 30px solid transparent; // высота строки пополам + паддинг сверху
    border-left: $size2 solid gold;
    content: "";
    transition: 0.3s ease;
  }
}
