@import "../../../vars";

.nav {
  position: relative;
  display: flex;
  width: max-content;
  justify-content: center;
  border: 3px solid gold;
  margin: 0 auto;
  background-color: gold;
  border-radius: 10px;
  box-shadow: $shadow-prime;
  color: white;
  text-transform: uppercase;

  &__item {
    position: relative;
    padding: $size $size $size $size2;
    margin-right: 5px;
    background-color: $nav-active-link;
    font-size: $nav-line-height;
    line-height: $nav-line-height;
    text-decoration: none;
    transition: 0.3s ease;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 0;
      height: 0;
      border-top: ($nav-line-height / 2) + $size solid transparent; // высота строки пополам + падинг сверху
      border-bottom: ($nav-line-height / 2) + $size solid transparent; // высота строки пополам + паддинг сверху
      border-left: 25px solid gold;
      content: "";
    }

    &::after {
      position: absolute;
      z-index: 10;
      top: 0;
      right: -25px;
      display: block;
      width: 0;
      height: 0;
      border-top: ($nav-line-height / 2) + $size  solid transparent; // высота строки пополам + паддинг сверху
      border-bottom: ($nav-line-height / 2) + $size solid transparent; // высота строки пополам + паддинг сверху
      border-left: 25px solid $nav-active-link;
      content: "";
      transition: 0.3s ease;
    }

    &:first-child {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;

      &::before {
        border: none;
        content: "";
      }
    }

    &_active {
      background-color: #00b3ff;

      &::after {
        border-left: 25px solid #00b3ff;
      }
    }
  }

  &::after {
    position: absolute;
    top: 0;
    right: -25px;
    display: block;
    width: 0;
    height: 0;
    border-top: ($nav-line-height / 2) + $size solid transparent; // высота строки пополам + паддинг сверху
    border-bottom: ($nav-line-height / 2) + $size solid transparent; // высота строки пополам + паддинг сверху
    border-left: 25px solid gold;
    content: "";
    transition: 0.3s ease;
  }
}
