@import "../../../vars";

.choice {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin-top: 15px;

  &_large {
    max-width: 40%;
  }

  &__card {
    display: flex;
    max-width: 35%;
    flex: 1 1 28%;
    flex-direction: column;
    justify-content: space-between;
    margin-right: $size;
    background: white;
    border-radius: $size;
    box-shadow: $shadow-prime;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      box-shadow: $choice-card-shadow;
      transform: scale(1.05);
    }

    &:focus {
      box-shadow: $choice-card-shadow;
      outline: none;
      transform: scale(1.1);
    }

    &:last-child {
      margin-right: unset;
    }
  }

  &__list {
    padding: $size $size $size 10px;
  }

  &__item {
    font-size: 16px;
    line-height: 130%;
    text-transform: uppercase;

    &::before {
      margin-right: 5px;
      content: "✓";
    }

    &_text {
      padding: $size;

      &::before {
        content: "";
      }
    }
  }

  &__cost {
    padding: 5px 10px;
    margin-bottom: auto;
  }

  &__title {
    padding: 10px;
    border-bottom-left-radius: $size;
    border-bottom-right-radius: $size;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    &_blue {
      background: $choice-card-bg-blue;
    }

    &_red {
      background: $choice-card-bg-red;
    }

    &_green {
      background: $choice-card-bg-green;
    }

    &_orange {
      background: $choice-card-bg-orange;
    }
  }
}
