@import "src/vars";

.actions {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 $size $size 0;
  gap: $size;

  &__item {
    display: flex;
    padding: $size;
    background: $choice-card-bg-green;
    border-radius: $size;
    cursor: pointer;
    font-size: $size;
    text-align: center;

    &_disabled {
      border-color: white;
      background-color: #2b2b2b;
      background-image: unset;
      color: white;
      cursor: not-allowed;
    }
  }
}
