@import "src/vars";

.game {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  padding: $size;
  background-image: url("../../image/cafe.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  grid-template-areas:
    "status status status status status"
    "geese dialog dialog dialog actions"
    " geese dialog dialog dialog actions";
  grid-template-columns: 15% 1fr 20% 10% 20%;
  grid-template-rows: max-content 1fr 1fr;

  &_pre {
    grid-template-columns: 15% 1fr 20% 10% 15%;
  }

  &__status {
    grid-area: status;
  }

  &__dialog {
    width: 100%;
    align-self: end;
    padding: $size;
    border-radius: $size;
    grid-area: dialog;
  }

  &__first-round-block {
    position: absolute;
    z-index: 6;
    width: 100vw;
    height: 100vh;
  }

  &__actions {
    grid-area: actions;

    &_right {
      grid-area: actions;
    }

    &_left {
      grid-area: geese;
    }

    &_hidden {
      display: none;
    }
  }

  &__geese {
    grid-area: geese;
  }
}

.geese {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 $size $size;
  gap: $size;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $size2 $size;
    background-color: black;
    border-radius: $size;
    color: white;
    font-size: 20px;
    text-align: center;
  }
}
