@import "src/vars";

.geese {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 $size $size;
  gap: $size;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $size2 $size;
    background-color: black;
    border-radius: $size;
    color: white;
    font-size: 20px;
    text-align: center;

    &_lose {
      &::after {
        position: absolute;
        top: 5px;
        right: 5px;
        display: inline-block;
        width: $size;
        height: $size;
        content: url("src/image/checked.svg");
      }
    }
  }
}
