@import "src/vars";

.initial {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background: rgb(131 58 180);
  background:
    linear-gradient(
      90deg,
      rgb(131 58 180 / 100%) 0%,
      rgb(253 29 29 / 100%) 50%,
      rgb(252 176 69 / 100%) 100%
    );
  background-repeat: no-repeat;

  &__cash {
    position: absolute;
    top: 15%;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $size;
    background-color: #9265d2;
    border-radius: $size;
    color: white;
    font-size: $title-size;
    font-weight: bolder;
    line-height: $size3;

    &::before {
      width: $size2;
      height: $size2;
      margin-right: $size;
      content: url("../../../src/image/coin.svg");
    }
  }

  &__dialog {
    margin-top: 15px;
  }

  &__form {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: $size3 auto 0;
  }

  &__label {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $size;
  }

  &__text {
    margin-right: $size;
    color: white;
    font-size: $title-size-1400;
    white-space: nowrap;
  }

  &__input {
    width: 100%;
    max-width: 400px;
    padding: $size / 2 $size;
    border-radius: $size;
    box-shadow: $shadow-prime;
    font-size: $title-size;
    line-height: $size2;
  }

  &__button {
    padding: $size / 2 $size;
    background-color: white;
    border-radius: $size;
    box-shadow: $shadow-prime;
    cursor: pointer;
    font-size: $title-size;
    line-height: $size2;
    transition: transform 0.3s ease, box-shadow  0.3s ease;

    &_end {
      display: block;
      margin: 0 auto;
    }

    &:hover {
      box-shadow: $shadow-input;
      transform: translateY(-10px);
    }

    &:focus {
      box-shadow: $shadow-input;
      outline: none;
      transform: translateY(-10px);
    }
  }

  &__title {
    margin-top: $size;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  &__settings-list {
    display: flex;
    width: max-content;
    align-items: center;
    padding: 10px 0;
    margin: $size auto;
    background-color: white;
    border-radius: $size;
  }

  &__settings-item {
    padding: $size / 3;
    border-right: 1px solid grey;
    font-size: 14px;

    &:last-child {
      border-right: unset;
    }
  }
}

@media (max-width: 1400px) {
  .initial {
    &__form {
      width: 80%;
    }

    &__cash {
      top: 20%;
      left: 0;
      font-size: $title-size-1400;
      line-height: $size2;

      &::before {
        width: 25px;
        height: 25px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .initial {
    &__form {
      width: 100%;
    }

    &__settings-list {
      max-width: 100%;
    }

    &__settings-item {
      font-size: 12px;
      text-align: center;
    }
  }
}

@media (max-width: 1024px) {
  .initial {
    &__text {
      font-size: 15px;
    }

    &__button {
      padding: $size-1024 / 2 $size-1024;
      border-radius: $size-1024;
      font-size: $title-size-1400;
      line-height: $size;

      &:hover {
        transform: translateY(-5px);
      }

      &:focus {
        transform: translateY(-5px);
      }
    }

    &__input {
      width: 100%;
      max-width: 400px;
      padding: $size-1024 / 2 $size-1024;
      border-radius: $size-1024;
      font-size: $title-size-1400;
      line-height: $size;
    }

    &__cash {
      top: 18%;
      padding: 10px;

      &::before {
        margin-right: 5px;
      }
    }

    &__settings-item {
      font-size: 10px;
    }
  }
}
