@import "src/vars";

.initial {
  position: relative;
  width: 1920px;
  height: 100vh;
  padding: 20px;
  background: rgb(131 58 180);
  background:
    linear-gradient(
      90deg,
      rgb(131 58 180 / 100%) 0%,
      rgb(253 29 29 / 100%) 50%,
      rgb(252 176 69 / 100%) 100%
    );
  background-repeat: no-repeat;

  &__cash {
    position: absolute;
    top: 15%;
    left: 10%;
    display: flex;
    padding: $size;
    background-color: #9265d2;
    border-radius: $size;
    color: white;
    font-size: $size3;
    font-weight: bolder;
    line-height: $size3;

    &::before {
      width: $size3;
      height: $size3;
      margin-right: $size;
      content: url("../../../src/image/coin.svg");
    }
  }

  &__dialog {
    margin-top: 150px;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: $size3 auto 0;
  }

  &__label {
    color: white;
    font-size: $size2;
  }

  &__input {
    padding: $size / 2 $size;
    margin-right: $size;
    border-radius: $size;
    box-shadow: $shadow-prime;
    font-size: $size2;
    line-height: $size2;
  }

  &__button {
    padding: $size / 2 $size;
    background-color: white;
    border-radius: $size;
    box-shadow: $shadow-prime;
    cursor: pointer;
    font-size: $size2;
    line-height: $size2;
    transition: transform 0.3s ease, box-shadow  0.3s ease;

    &:hover {
      box-shadow: $shadow-input;
      transform: translateY(-10px);
    }

    &:focus {
      box-shadow: $shadow-input;
      outline: none;
      transform: translateY(-10px);
    }
  }

  // background-image: url("../../../src/image/background.webp");
}
