@import "src/vars";

.status {
  display: flex;
  flex-direction: column;

  &__cafe-name {
    padding: 10px $size;
    margin: 0 $size4 $size;
    background-color: #fff;
    border-radius: $size;
    color: black;
    font-size: 22px;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
  }

  &__info {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    padding: 10px $size4;
    background-color: #fff;
    border-radius: $size;
    color: black;
    font-size: $title-size;
    font-weight: bold;
    line-height: 120%;
  }

  &__step {
    display: flex;
    align-items: stretch;
    margin-right: $size2;
    font-size: 22px;

    &::before {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: $size;
      content: url("../../../image/clock_coin.svg");
    }
  }

  &__cash {
    display: flex;
    align-items: center;
    margin-right: $size2;
    font-size: 22px;

    &::before {
      display: inline-block;
      width: $size2;
      height: $size2;
      margin-right: $size;
      content: url("../../../image/coin.svg");
    }
  }

  &__clients {
    display: flex;
    align-items: center;
    font-size: 22px;

    &::before {
      display: inline-block;
      width: $size2;
      height: $size2;
      margin-right: $size;
      content: url("../../../image/clients_1_mono.svg");
    }
  }
}
