@import "src/vars";

.table {
  margin-top: $size;
  background-color: white;
  border-spacing: 0;
  grid-area: table;

  &__headerItem {
    padding: 7px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 14px;

    &:last-child {
      border-right: 0;
    }
  }

  &__row {
    &:nth-child(odd) {
      background-color: #ddd;
    }

    &:last-child {
      background-color: #9df991;
      font-weight: bold;
    }
  }

  &__cell {
    padding: 2px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 12px;
    text-align: center;

    &:last-child {
      border-right: 0;
    }

    &_minus {
      &::before {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 5px;
        background-image: url("../../../image/triangle_red.svg");
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        transform: rotate(0.5turn);
      }
    }

    &_plus {
      &::before {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 5px;
        background-image: url("../../../image/triangle_green.svg");
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
      }
    }
  }
}
